.chart {
    fill: gray;
    background-color: rgb(96, 100, 104);
 }
 svg text {
    fill: yellow;
    font: 12px sans-serif;
    text-anchor: end;
 }
 
 
 :host::ng-deep.dd {
   font: 10px sans-serif;
   background-color: steelblue;
   fill: blueviolet;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
 } 